<launch>
    <node name="velocity_controller_node" pkg="RC" type="velocity_controller_node" output="screen">
        <param name="kP" value="0.05"/>
        <param name="kI" value="0.00001"/>
        <param name="kD" value="0.0"/>
        <param name="kF" value="0.025"/>
        <param name="sensor_topic" value="/jetson_encoder"/>
	<param name="output_topic" value="pwmout"/>
        <param name="period" value="0.05"/>
        <param name="max_output" value="0.3"/>
        <param name="min_output" value="-0.3"/>
        <param name="tolerance" value="0.001"/>
        <param name="setpoint_topic" value="velocity_pid_setpoint"/>
    </node>
</launch>
